body{
    background-image:url('index3.jpg');
    min-height:100v;
}
h1{float:center;
text-align: center;
font-size:50px;
font-family:'allura';
color: brown;
}
p{
    text-align:center;
    color:black;
}
#start{
   margin: 10px 10px;
height: 30px;
text-align:center;
}

.open{
font-size: 15px;

}